*.terraform*
*.tfstate
*.tfstate.backup
*.tfvars
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.env
*.log
env/
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
terraform.tfstate.*
providers.tf*.dll
tests/test1.md
