*
!requirements.txt
!README.md
!.env.example
!.gitignore
!Dockerfile
!app/
!app/**
!terraform/
!terraform/**
!tests/
!tests/**



# Exclude unwanted files and folders
*.terraform*
*.tfstate
*.tfstate.backup
*.tfvars
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.env
*.log